# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / PyCharm
.vscode/
.idea/

# ======================
# C / C++
# ======================
*.o
*.out
*.exe
*.obj
*.dll
*.so
*.a
*.lib

# ======================
# Gerais
# ======================
.DS_Store
Thumbs.db
